<h3>How to Use</h3>

<hr/>

<h5>Step 1 </h5>
<p>npm install -s @jb7/ngx-virtualscroll</p>

<hr/>

<h5>Step 2</h5>
<img src="/assets/module.png">
<p>Add NgxVirtualScroll module to ur app.module.ts</p>

<hr/>

<h5>Step 3</h5>
<p>Define a template with reference variable. assign a dummy variable named linkObj to the template</p>
<img src="/assets/template1.png">
<p>Dont forget to assign the linkObj (let-linkObj = ) property template. Also have an empty object named 'linkObj' in your .ts file. If array of objects have to be shown in virtual scroll, pass the properties of object as shown in image</p>

<hr/>

<h5>Step 4</h5>
<img src="/assets/assign.png">
<p>Put out the 'ngx-virtualscroll' selector with giving rows, height, itemHeight and the templateId properties</p>


<hr/>

<h5>Hola !!!!!</h5>
<p>You are up and running with virtual scroll</p>