<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Ngx-VirtualScroll</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>  <a routerLink="doc" class="waves-effect">Documentation</a></li>
     <li> <a routerLink="usage" class="waves-effect">How to use</a></li>
      <li><a routerLink="basic" class="waves-effect">Basic Example</a></li>
      <li><a routerLink="styled" class="waves-effect">Styled</a></li>
    </ul>
  </div>
</nav>

<div class="row" style="margin-top:30px">
<div class="col s2 m2 l2 xl2">

</div>
  <div class="col s10 m10 l10 xl10">
    <router-outlet></router-outlet>
  </div>
</div>
 
